* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-around;
}

.item {
  background-color: #00bbdd;
  color: #fff;
  margin: 10px;
  padding: 10px;
}

.container-2 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.item-2 {
  padding: 10px;
  background-color: #00bbdd;
  color: #fff;
}